//@use '~@carbon/themes/scss/themes';
//@import '@carbon/themes/scss/themes';
@use '~@carbon/react/scss/themes';
/*@use '~@carbon/react/scss/theme' with (
  $theme: themes.$g100,
);*/
@use '~@carbon/react';
@use '~@carbon/styles';
@use '~@carbon/styles/scss/grid';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use './mixins.scss' as *;
//@use './overrides.scss';
@include grid.flex-grid();
@import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
//@import '~bootstrap/scss/bootstrap';
//carbon grid
@import '@carbon/ibmdotcom-styles/scss/components/masthead/masthead.scss';
@import '@carbon/ibmdotcom-styles/scss/components/footer/index.scss';
@import '@carbon/ibmdotcom-styles/scss/components/footer/footer';
@import '@carbon/ibmdotcom-styles/scss/components/layout/layout';
@import '@carbon/ibmdotcom-styles';


/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.cds--content {
  margin-top: 3rem;
  background: var(--cds-background);
}

.cds--content .cds--css-grid {
  max-width: 100%;
  @include breakpoint(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.intro {
  background-image: url('./../public/login.png');
  height: "100vh";
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #fafafa;
  marginBottom: '1vh';
  fontSize: '2vh';
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: contain;
}

.body {
  background-color: $background;
  min-height: 100vh;
  background-image: url('./../public/login.png');
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}


.profile-heading {
  color: #fafafa;
}

.profile-summary {

}

.contact-details-img {
  //display: inline-block;
  margin-right: 10px
}

.card-header-img {
  margin-left: 10px

}

.card-header {
  background-color: slateblue;
  color: whitesmoke;
  font-size: medium;

}

.experience {
  //display: flex;
  //height: 100%
  //height: calc(100vh - (10vh + 40vh));
}
.experience-designation {
    font-size: larger;
    font-family: Verdana;
    p {
      white-space: pre-line; /* collapse WS, preserve LB */
    }
}
.experience-companyname {
  font-family: Monospace;
  font-size: 14px;
  color: #261acf;
}
.experience-duration {
  font-family: Monospace;
  font-size: 14px;
  color: #7a7f83;
}
.experience-task-header {
 // font-family: Tahoma;
  color: #3b3939;
  //font-size: 11px;
}
.experience-task-list {
  //font-family: 'Arial';
  color: black;
  //font-size: 12px;
  padding-bottom: 0.2rem;
}
.skills-list {
  padding-right: 5px;
  margin: 2px;
}
.award-title {
  font-family: Tahoma;
  color: #3b3939;
  font-size: 18px!important;
}
.award-date {
  font-family: Monospace;
  font-size: 14px;
  color: #7a7f83;
}

.cds--list--ordered {
  margin-left: 20px
}
//$carbon--theme: $carbon--theme--g100;
//@include carbon--theme();

.button-center {
  justify-content: center
}

.image {
  background-image: url('img.jpg');
  background-color: #cccccc;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

@media (max-width:767px) {
  .intro img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width:768px) {
  .intro img {
    max-width: 240px;
    max-height: 240px;
  }
}

@media (min-width:992px) {
  .intro img {
    max-width: 314px;
    max-height: 314px;
  }
}

@media (min-width:1200px) {
  .intro img {
    max-width: 380px;
    max-height: 380px;
  }
}

.cds--content {
  margin-top: 3rem;
}

.info-card__heading {
  @include type-style('productive-heading-01');
  color: #fafafa;
}

.main__heading {
  @include type-style('productive-heading-01');
}

.info-card__body {
  margin-top: $spacing-06;
  flex-grow: 1; // fill space so icons are bottom aligned
  @include type-style('body-long-01');

  // prevent large line lengths between small and medium viewports

}

.cds--tile {
  margin-bottom: 0.5rem !important;
}

.info-card {
  margin-top: $spacing-09;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;

  svg {
    margin-top: $spacing-09;
  }

}

.login-page1 {
  background-image: url("./../public/login_background.jpg");
}

.basic-grid {
  display: grid;
  gap: 1rem;

  /* 1 too skinny, too much code */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */

  /* 2 cleaner code */
  /* grid-template-columns: repeat(12, 1fr); */

  /* 3  better sizing, but overflows */
  /* grid-template-columns: repeat(12, minmax(240px, 1fr)); */

  /* 4 final */
  //grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(min-content, 500px));
}

//copied from carbon

.info-section__heading {
  @include carbon--type-style('heading-01');
}

.info-card {
  margin-top: $spacing-09;
  display: flex;
  flex-direction: column;

  svg {
    margin-top: $spacing-09;
  }

  // top border in only small breakpoints to prevent overrides
  @include carbon--breakpoint-down(md) {
    &:not(:nth-child(2)) {
      border-top: 1px solid $ui-03;
      padding-top: $spacing-09;
    }
  }

  // left border in just the 2nd column items
  @include carbon--breakpoint(md) {
    &:nth-child(odd) {
      border-left: 1px solid $ui-03;
    }
  }

  // left border in all items
  @include carbon--breakpoint(lg) {
    margin-top: 0;
    border-left: 1px solid $ui-03;

    svg {
      margin-top: $layout-06;
    }
  }
}

.info-card__heading {
  @include carbon--type-style('productive-heading-03');
  color: black;
}

.info-card__body {
  margin-top: $spacing-01;
  padding-top: 50px;
  flex-grow: 1; // fill space so icons are bottom aligned
  @include type-style('body-long-01');

  // prevent large line lengths between small and medium viewports
  @include carbon--breakpoint-between(321px, md) {
    max-width: 75%;
  }
}
