//@import '~@carbon/type/scss/font-face/mono';
//@import '~@carbon/type/scss/font-face/sans';
//@import '~@carbon/ibmdotcom-styles/scss/components/masthead/masthead.scss';
//@import '~@carbon/ibmdotcom-styles/scss/components/footer/index.scss';
//@import '~@carbon/ibmdotcom-styles/scss/components/footer/footer';
//@import '~@carbon/ibmdotcom-styles/scss/components/layout/layout';
//@import '~@carbon/grid/scss/grid.scss';
//@import '~@carbon/ibmdotcom-styles';
//@import '~@carbon/type/scss/styles';
//@import './node_modules/carbon-components/scss/globals/scss/styles.scss';
//@use '~@carbon/colors';
@use '~@carbon/themes/scss/themes';
//@import '@carbon/themes/scss/themes';
@use '~@carbon/react';
@use '~@carbon/styles';
@use '~@carbon/styles/scss/grid';
@include grid.flex-grid();
@import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
//@import '~bootstrap/scss/bootstrap';
//carbon grid
@import '@carbon/ibmdotcom-styles/scss/components/masthead/masthead.scss';
@import '@carbon/ibmdotcom-styles/scss/components/footer/index.scss';
@import '@carbon/ibmdotcom-styles/scss/components/footer/footer';
@import '@carbon/ibmdotcom-styles/scss/components/layout/layout';
@import '@carbon/ibmdotcom-styles';


.intro {
  background-image: url('./../public/login.png');
  height: "100vh";
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #fafafa;
  marginBottom: '1vh';
  fontSize: '2vh';
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: contain;
}

.body {
  background-color: $background;
  min-height: 100vh;
  background-image: url('./../public/login.png');
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}


.profile-heading {
  color: #fafafa;
}

.profile-summary {

}

.contact-details-img {
  //display: inline-block;
  margin-right: 10px
}

.card-header-img {
  margin-left: 10px

}

.card-header {
  background-color: slateblue;
  color: whitesmoke;
  font-size: medium;

}

.experience {
  //display: flex;
  //height: 100%
  //height: calc(100vh - (10vh + 40vh));
}
.experience-designation {
    font-size: larger;
    font-family: Verdana;
    p {
      white-space: pre-line; /* collapse WS, preserve LB */
    }
}
.experience-companyname {
  font-family: Monospace;
  font-size: 14px;
  color: #261acf;
}
.experience-duration {
  font-family: Monospace;
  font-size: 14px;
  color: #7a7f83;
}
.experience-task-header {
 // font-family: Tahoma;
  color: #3b3939;
  //font-size: 11px;
}
.experience-task-list {
  //font-family: 'Arial';
  color: black;
  //font-size: 12px;
  padding-bottom: 0.2rem;
}
.skills-list {
  padding-right: 5px;
  margin: 2px;
}
.award-title {
  font-family: Tahoma;
  color: #3b3939;
  font-size: 18px!important;
}
.award-date {
  font-family: Monospace;
  font-size: 14px;
  color: #7a7f83;
}

.cds--list--ordered {
  margin-left: 20px
}
//$carbon--theme: $carbon--theme--g100;
//@include carbon--theme();

.login-component {
  justify-content: center;
  display: block;
  position: relative;
  //box-shadow: 11px 12px 14px 12px white;
  padding: 40px 40px 40px 40px;
  border-radius: 60px;
  background-color: lightgrey;
}
.login-page {
  justify-content: center;
  padding-top: 30px;
}

.button-center {
  justify-content: center
}

.image {
  background-image: url('img.jpg');
  background-color: #cccccc;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

@media (max-width:767px) {
  .intro img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width:768px) {
  .intro img {
    max-width: 240px;
    max-height: 240px;
  }
}

@media (min-width:992px) {
  .intro img {
    max-width: 314px;
    max-height: 314px;
  }
}

@media (min-width:1200px) {
  .intro img {
    max-width: 380px;
    max-height: 380px;
  }
}

.cds--content {
  margin-top: 3rem;
}

.info-card__heading {
  @include type-style('productive-heading-01');
}

.main__heading {
  @include type-style('productive-heading-01');
}

.info-card__body {
  margin-top: $spacing-06;
  flex-grow: 1; // fill space so icons are bottom aligned
  @include type-style('body-long-01');

  // prevent large line lengths between small and medium viewports

}

.cds--tile {
  margin-bottom: 0.5rem !important;
}
